body {
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: rgb(243, 243, 243);
}

nav {
    height: 60px;
    /* background: rgb(52,52,52); */
    display: flex;
    align-items: center;
    font-size: larger;
}

i {
    margin-left: 50px;
}

#mapid { 
    height: 600px;
}